# Python
*.py[cod]
__pycache__/
*.so

# Environment
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
